.categories-dropdown {
    margin-top: 20px;
    width: 100%;
    .clearfix();
    display: none;
    &_modal {
        display: block !important;
        padding: 0 20px;
        .categories-dropdown__column {
            width: 50%;
        }
    }
    &__column {
        float: left;
        width: (100% / 5);
        &_three {
            width: (100% / 3);
        }
    }
    &__title {
        .em(font-size, 11px);
        font-weight: normal;
        color: #2cbc9b;
        margin: 0;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &__item {
        &:last-child {
            margin-bottom: 10px;
        }
        b {
            display: inline-block;
            width: 100%;
            margin-top: 20px;
            margin-bottom: 10px;
        }
    }
    &__link {
        .em(font-size, 11px);
        display: inline-block;
        padding: 5px 0;
    }
}