.categories {
    float: left;
    width: (100% / 3);
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        .clearfix();
    }
    &__item {
        float: left;
        padding: 10px;
        cursor: pointer;
    }
    &__label {

    }
    &__dropdown {

    }
}