.icon {
    text-align: center;
    width: 20px;
    height: 20px;
    &-shevron-down {
        background: url('../img/icons/shevron-down.png') no-repeat center;
    }
    &-search {
        background: url('../img/icons/search_1px.png') no-repeat center;
    }
    &-search-input {
        background: url('../img/icons/search.png') no-repeat center;
    }
    &-home {
        background: url('../img/icons/home.png') no-repeat center;
    }
    &-mail {
        background: url('../img/icons/mail.png') no-repeat center;
    }
    &-list {
        background: url('../img/icons/list.png') no-repeat center;
    }
}
