.form {
    &__row {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__link {
        .em(font-size, 11px);
        color: #f1f2f3;
        &_right {
            float: right;
        }
    }
}