.input{
    background: #fff;
    border: none;
    padding: 10px 20px;
    height: 30px;
    width: 100%;
    line-height: 1;
    .em(font-size, 13px);
    color: #252525;
    &_border {
        border: solid 1px #c6c6c6;
        padding: 10px;
    }
}