* {
    outline: none;
    .box-sizing(border-box);
    &:before, &:after {
        outline: none;
        .box-sizing(border-box);
    }
}

// Remove dotted outline
a, button, input, textarea, select {
    &:focus {
        outline: none;
    }
}

body {
    // min-width: 1024px;
    min-width: 1280px;
}

.container {
    // width: 100%;
    // max-width: 1280px;
    width: 1280px;
    margin: 0 auto;
    .clearfix();
    position: relative;
    &_height-70 {
        height: 70px;
    }
    &_height-30 {
        height: 30px;
    }
    &_padding {
        padding: 0 10px;
    }
}

.block {
    .clearfix();
    position: relative;
    &_dark {
        background: #4D4D4D;
        height: 70px;
    }
    &_orange-line {
        border-bottom: solid 3px #ff7234;
    }
}

// Sticky footer
@footer-height: 280px;
html, body {
    height: 100%;
}
.site-footer {
    height: @footer-height;
}
.wrap {
    margin-bottom: -@footer-height;
    min-height: 100%;
}
.push {
    height: @footer-height;
}

.main-container {
    width: (690 / @base-width * 100%);
    float: left;
}

.hide {
    display: none;
}