.pulset-club {
    background: #5D5D5D;
    width: (290px / @base-width * 100%);
    float: left;
    &__img {

    }
    &__block {

    }
    &__title {

    }
    &__link {

    }
    &__dropdown {

    }
    &__dropdown-title {

    }
    &__dropdown-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &__dropdown-item {

    }
    &__dropdown-link {

    }
}