body {
    font-family: 'Tahoma', sans-serif;
}

* {
    line-height: 1;
}

a {
    color: #4d4d4d;
    line-height: 1;
    .em(font-size, 13px);
    .transition(color .3s);
    &:hover {
        text-decoration: none;
    }
}

.icon {
    .size(20px);
}

h1 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #800a0a;
    position: relative;
    padding-left: 10px;
    &:before {
        content: url('../img/icons/green-line.png');
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 11px;
    }
}

h3 {
    .em(font-size, 13px);
    font-weight: normal;
    color: #fa9e75;
    margin: 0;
    display: inline-block;
}
